<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title><%= @title %> Stats</title>
</head>
<body>
  <h2><%= @title %></h2>
  Total Weekly Classes is <%= @classes.count %><br />
  Instructor Count is <%= @instructors.uniq.count %><br />
  <% if (@total_booked_spots > 0 ) && (@total_open_spots > 0) %>
  <%= "#{(@total_booked_spots / (@total_booked_spots + @total_open_spots) * 100).to_i}% full" %>
  <br />
  <% end %>
  <br />
  Instructors:<br/>
  <% @instructors.uniq.each do |i| %>
    <% if i != "Cancelled Today" %>
    <a href=<%="https://www.facebook.com/search/str/#{URI.escape(i)}/users-named"%> target="_blank">
        <%= i %>
    </a>
    <br/>
    <% end %>
  <% end %>
  <br />
  <a href="/">Back</a>
</body>
</html>
